.card_primary_wrap {
  display: flex;
  width: 100%;
  height: 100%;
}

.card_primary_inner {
  position: relative;
  width: 100%;
  padding: var(--_spacing---space--4);
  border: var(--border-width--main) solid var(--_theme---border);
  border-radius: var(--radius--main);
}