.cta {
  display: flex;
  padding: 1rem;
  justify-content: center;
  align-items: flex-end;
  grid-column-gap: 0.25rem;
  grid-row-gap: 0.25rem;

  border: 1px solid var(--swatch--sc-charcoal);

  background-color: var(--swatch--sc-pearl-cream);

  transition: color 200ms ease,background-color 200ms ease;

  color: var(--swatch--sc-charcoal);
  font-size: var(--_typography---font-size--text-small);
  font-weight: 500;
  text-transform: uppercase;
}

.cta:where(.w-variant-7b211ba6-f9b4-9090-e5da-25cc3b7394bc) {
  background-color: var(--swatch--transparent);
}

@media screen and (max-width: 991px) {
  .cta {
    padding: 0.875rem;
  }
}

@media screen and (max-width: 479px) {
  .cta {
    width: 100%;
    padding: 0.75rem;
    justify-content: center;
    align-items: flex-end;
    font-size: 0.875rem;
  }
}

.u-margin-top-2 {
  margin-top: var(--_spacing---space--2);
}

.cta.u-margin-top-4 {
  margin-right: auto;
}

.u-margin-top-4 {
  margin-top: var(--_spacing---space--4);
}

.u-align-items-end {
  align-items: flex-end;
}

.u-justify-content-end {
  justify-content: flex-end;
}

.cta.no-bg {
  background-color: var(--swatch--transparent);
}

.cta_line {
  position: relative;
  width: 1.5rem;
  height: 4px;
  background-color: var(--swatch--pc-indian-vcs-red);
}

@media screen and (max-width: 991px) {
  .cta_line {
    height: 3px;
  }
}

@media screen and (max-width: 767px) {
  .cta_line {
    width: 1.25rem;
  }
}

.cta_line_abs {
  position: absolute;
  left: 0%;
  top: 0%;
  bottom: 0%;

  width: 0%;
  height: 100%;

  background-color: var(--_theme---background);

  transition: width 200ms ease;
}