.form_main_fieldset_wrap {
  width: 100%;
}

.u-weight-medium {
  font-weight: var(--_typography---font--body-medium);
}

@media screen and (max-width: 991px) {
  .u-weight-medium {
    font-weight: var(--_typography---font--body-medium);
  }
}

.form_main_fieldset_list {
  display: flex;
  margin-top: var(--_spacing---space--2);
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  grid-column-gap: var(--_spacing---space--2);
  grid-row-gap: var(--_spacing---space--2);
}