.guide_wrap {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 2000;

  display: none;
  overflow: hidden;

  pointer-events: none;
}

.u-container {
  z-index: 1;

  max-width: var(--max-width--main);
  margin-right: auto;
  margin-left: auto;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;

  container-type: inline-size;
  container-name: threshold-large;

  width: calc(100% - var(--site--margin) * 2);
}

@media screen and (max-width: 767px) {
  .u-container {
    width: calc(100% - var(--site--margin) * 2);
  }
}

.guide_layout {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: var(--site--gutter);
  grid-row-gap: var(--site--gutter);
  grid-template-rows: auto;
  grid-template-columns: repeat(var(--site--column-count), minmax(0, 1fr));
}

.guide_column {
  display: flex;
  height: 100vh;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  flex-direction: column;
  justify-content: flex-end;
  flex-wrap: nowrap;
  align-items: center;

  background-color: hsla(176, 0.00%, 57.33%, 0.06);

  color: hsla(175.95238095238096, 0.00%, 54.00%, 0.50);
}