.ext-link {
  transition: color 300ms ease;
  color: var(--swatch--sc-dark-cocoa);
  text-decoration: underline;
}

.ext-link:hover {
  color: var(--swatch--pc-indian-vcs-red);
}

.u-text-style-small {
  font-size: var(--_text-style---font-size);
  line-height: var(--_text-style---line-height);
  letter-spacing: var(--_text-style---letter-spacing);

  ---mode--collection-b7222b48-79c4-934f-5073-fc41f016b656: mode-55e5b3f5-27ac-b6ac-eb78-2facc18d7040;
  text-wrap: var(--_text-style---text-wrap);

  display: flow-root;
}

.u-weight-medium {
  font-weight: var(--_typography---font--body-medium);
}

@media screen and (max-width: 991px) {
  .u-weight-medium {
    font-weight: var(--_typography---font--body-medium);
  }
}

.u-text-transform-uppercase {
  text-transform: uppercase;
}

.ext-link.u-text-style-small.u-text-transform-uppercase.underline {
  display: none;
  color: var(--swatch--light-100);
  text-decoration: underline;
}

.ext-link.u-text-style-small.u-text-transform-uppercase.underline:hover {
  color: var(--swatch--pc-indian-vcs-red);
}