.lottie-embed_wrapper {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 10001;

  width: 100%;
  height: 100%;

  opacity: 0;
  pointer-events: none;
}

.lottie-embed_wrap {
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: var(--swatch--sc-pearl-cream);
}

.ed_logo_brand {
  max-width: 12rem;
}

@media screen and (max-width: 767px) {
  .ed_logo_brand {
    max-width: 8rem;
  }
}