.nav_links_component {
  display: flex;
  padding-top: var(--_spacing---space--3);
  padding-bottom: var(--_spacing---space--8);
  flex-direction: column;
  flex-wrap: nowrap;
  flex: 1;
  grid-column-gap: var(--_spacing---space--3);
}

.nav_links_component:where(.w-variant-23049969-09ac-2789-520b-3c6ae895bbc6) {
  display: flex;
  padding-top: 0px;
  padding-bottom: 0px;
  flex-direction: row;
  flex-wrap: nowrap;
}

.nav_links_wrap {
  flex: 1;
}

.nav_links_wrap:where(.w-variant-23049969-09ac-2789-520b-3c6ae895bbc6) {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: stretch;
}

.nav_links_item {
  display: flex;
}

.nav_dropdown_component {
  position: static;

  width: 100%;
  height: 100%;
  margin-right: 0px;
  margin-left: 0px;

  z-index: unset;
}

.nav_links_link {
  position: relative;
  z-index: 2;

  display: flex;
  width: 100%;
  padding-top: var(--_spacing---space--2);
  padding-right: 0px;
  padding-bottom: var(--_spacing---space--2);
  padding-left: 0px;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  grid-column-gap: var(--_spacing---space--2);

  cursor: pointer;

  outline-offset: var(--focus--offset-inner) !important;

  color: inherit;
}

.nav_links_link:where(.w-variant-23049969-09ac-2789-520b-3c6ae895bbc6) {
  height: 100%;
  padding: 0px var(--_spacing---space--3);
}

.u-text-transform-uppercase {
  text-transform: uppercase;
}

.nav_links_svg {
  width: 1rem;
  margin-left: auto;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;

  transition-property: transform;
  transition-duration: 200ms;
  transition-timing-function: ease;

  overflow: visible !important;

  transform: rotate(calc(-180deg * var(--_state---false)));
}

.nav_dropdown_main_wrap {
  position: relative;
  min-width: 0px;
  background-color: transparent;
}

.nav_dropdown_main_wrap:where(.w-variant-23049969-09ac-2789-520b-3c6ae895bbc6) {
  position: absolute;
  width: 10rem;
  padding-top: var(--_spacing---space--1);
}

.nav_dropdown_main_scroll:where(.w-variant-23049969-09ac-2789-520b-3c6ae895bbc6) {
  position: relative;

  border-top-left-radius: var(--nav--radius);
  border-top-right-radius: var(--nav--radius);
  border-bottom-left-radius: var(--nav--radius);
  border-bottom-right-radius: var(--nav--radius);

  background-color: var(--_theme---nav--background);

  max-height: calc(100svh - var(--nav--height-total) - var(--nav--spacing-outer-vertical) * 2);
  overflow-x: hidden;
  overflow-y: auto !important;
}

.nav_dropdown_link {
  position: relative;
  z-index: 2;

  display: flex;
  width: 100%;
  padding-top: var(--_spacing---space--1);
  padding-right: 0px;
  padding-bottom: var(--_spacing---space--1);
  padding-left: 0px;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  grid-column-gap: var(--_spacing---space--2);

  cursor: pointer;

  outline-offset: var(--focus--offset-inner) !important;

  color: inherit;
  font-size: var(--text-small--font-size);
}

.nav_dropdown_link:where(.w-variant-23049969-09ac-2789-520b-3c6ae895bbc6) {
  display: block;
  padding-top: var(--_spacing---space--2);
  padding-bottom: var(--_spacing---space--2);

  border-bottom-style: solid;
  border-bottom-width: var(--border-width--main);
  border-bottom-color: var(--_theme---border);

  padding-left: calc(var(--_spacing---space--6) / 2);
  padding-right: calc(var(--_spacing---space--6) / 2);

  font-size: inherit;
}

.nav_dropdown_text {
  transition: opacity 100ms ease;
}

.nav_dropdown_mega_wrap {
  position: relative;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  z-index: 1;

  width: 100%;

  background-color: transparent;
}

.nav_dropdown_mega_wrap:where(.w-variant-23049969-09ac-2789-520b-3c6ae895bbc6) {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;

  max-width: var(--nav--max-width-outer);
  min-width: 0px;
  margin-right: auto;
  margin-left: auto;
  width: calc(100% - var(--nav--spacing-outer-horizontal) * 2);
}

.nav_dropdown_mega_content {
  position: relative;
}

.nav_dropdown_mega_content:where(.w-variant-23049969-09ac-2789-520b-3c6ae895bbc6) {
  border-radius: var(--nav--radius);
  background-color: var(--_theme---nav--background);
}

.nav_dropdown_mega_scroll {
  position: relative;
}

.nav_dropdown_mega_scroll:where(.w-variant-23049969-09ac-2789-520b-3c6ae895bbc6) {
  margin-top: var(--nav--height);
  padding-right: var(--nav--spacing-inner-horizontal);
  padding-left: var(--nav--spacing-inner-horizontal);
  max-height: calc(100svh - var(--nav--height-total) - var(--nav--spacing-outer-vertical) * 2);
  overflow-x: hidden;
  overflow-y: auto;
}

.nav_dropdown_mega_contain {
  position: relative;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.nav_dropdown_mega_contain:where(.w-variant-23049969-09ac-2789-520b-3c6ae895bbc6) {
  max-width: var(--nav--max-width-inner);
  padding-top: var(--_spacing---space--7);
  padding-bottom: var(--_spacing---space--8);
}

.nav_dropdown_mega_layout {
  grid-column-gap: var(--_spacing---space--6);
  grid-row-gap: var(--_spacing---space--6);
}

.nav_dropdown_mega_layout:where(.w-variant-23049969-09ac-2789-520b-3c6ae895bbc6) {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: var(--site--gutter);
  grid-row-gap: var(--_spacing---space--6);
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 10rem), 1fr));
}

.nav_actions_wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex: 0 0 auto;
}

.nav_actions_wrap:where(.w-variant-23049969-09ac-2789-520b-3c6ae895bbc6) {
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

.nav_links_locales_hide {
  display: none;
}

.nav_links_search_icon {
  width: 1.1rem;
}

.u-sr-only {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;

  overflow: hidden;
  width: 1px;
  height: 1px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;

  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;

  white-space: nowrap;

  clip: rect(0, 0, 0, 0);
}

.nav_search_wrap {
  display: flex;
  border-bottom-style: solid;
  border-bottom-width: var(--border-width--main);
  border-bottom-color: color-mix( in srgb, var(--_theme---border) calc(100% * var(--_trigger---on)), var(--_theme---text) calc(100% * var(--_trigger---off))
  );
}

.nav_search_btn_wrap {
  display: flex;
  margin-left: -1rem;
  padding-right: 1rem;
  padding-left: 1rem;
  justify-content: center;
  align-items: center;

  outline-offset: var(--focus--offset-inner);
}

.nav_search_btn_icon {
  width: 1.1rem;
  overflow: visible !important;
}

.nav_screen-reader-text {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;

  overflow: hidden;
  width: 1px;
  height: 1px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;

  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;

  white-space: nowrap;

  clip: rect(0, 0, 0, 0);
}

.nav_search_label {
  width: 100%;
}

.nav_search_field {
  width: 100%;
  height: 2.9em;
  max-width: 100%;
  min-width: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-right: 0em;
  padding-bottom: 0px;
  padding-left: 0em;

  border-top-style: none;
  border-top-width: 0px;
  border-right-style: none;
  border-right-width: 0px;
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-left-style: none;
  border-left-width: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;

  background-color: transparent;

  font-size: inherit;
  color: inherit;
}

.nav_search_field::placeholder {
  color: color-mix(in srgb, var(--_theme---text) 60%, transparent);
}

.nav_buttons_item {
  position: relative;
  z-index: 2;

  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: flex-start;

  text-align: center;
}

.nav_buttons_item.is-main {
  margin-top: var(--_spacing---space--6);
  margin-bottom: var(--_spacing---space--3);
}

.nav_buttons_item.is-main:where(.w-variant-23049969-09ac-2789-520b-3c6ae895bbc6) {
  margin: 0px var(--_spacing---space--3);
}