.nav_component {
  position: sticky;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 1000;

  background-color: hsla(0, 0.00%, 0.00%, 0.00);

  pointer-events: none;

  container-type: inline-size;
}

.nav_component:where(.w-variant-dd866659-1d7d-6447-6461-66ca86ca367f) {
  position: fixed;
}

.nav_skip_wrap {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  z-index: 2;

  margin: 0.5rem;
  padding: 0.5rem;

  border-width: var(--border-width--main);
  border-radius: var(--nav--radius);

  background-color: var(--_theme---background);

  outline-offset: var(--focus--offset-inner);
  pointer-events: auto;

  transform: translate(-200%, 0px);

  color: var(--_theme---text);
}

.nav_skip_wrap:focus {
  transform: translate(0%, 0px);
}

.u-text-style-small {
  font-size: var(--_text-style---font-size);
  line-height: var(--_text-style---line-height);
  letter-spacing: var(--_text-style---letter-spacing);

  ---mode--collection-b7222b48-79c4-934f-5073-fc41f016b656: mode-55e5b3f5-27ac-b6ac-eb78-2facc18d7040;
  text-wrap: var(--_text-style---text-wrap);

  display: flow-root;
}

.nav_desktop_wrap {
  position: relative;
  z-index: 1;
  display: none;
  margin-top: var(--nav--spacing-outer-vertical);
  background-color: transparent;
}

.nav_desktop_contain {
  max-width: var(--nav--max-width-outer);
  margin-right: auto;
  margin-left: auto;
  padding-right: var(--nav--spacing-inner-horizontal);
  padding-left: var(--nav--spacing-inner-horizontal);

  border-top-left-radius: var(--nav--radius);
  border-top-right-radius: var(--nav--radius);
  border-bottom-left-radius: var(--nav--radius);
  border-bottom-right-radius: var(--nav--radius);

  background-color: var(--_theme---nav--background);

  width: calc(100% - var(--nav--spacing-outer-horizontal) * 2);
}

.nav_desktop_layout {
  position: static;

  display: flex;
  width: 100%;
  height: var(--nav--height);
  max-width: var(--nav--max-width-inner);
  margin-right: auto;
  margin-left: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  justify-content: space-between;
  grid-column-gap: var(--_spacing---space--3);

  pointer-events: auto;
}

.nav_desktop_logo {
  position: relative;
  z-index: 2;

  display: flex;
  width: 6rem;
  justify-content: flex-start;
  align-items: center;

  outline-offset: var(--focus--offset-inner);
}

.nav_mobile_wrap {
  position: relative;
  z-index: 1;
  margin-top: var(--nav--spacing-outer-vertical);
  background-color: transparent;
}

.nav_mobile_contain {
  max-width: var(--nav--max-width-outer);
  margin-right: auto;
  margin-left: auto;
  width: calc(100% - var(--nav--spacing-outer-horizontal) * 2);
}

.nav_mobile_layout {
  position: relative;
  z-index: 2;

  display: flex;
  width: 100%;
  height: var(--nav--height);
  margin-right: auto;
  margin-left: auto;
  padding: 0px var(--nav--spacing-inner-horizontal);
  justify-content: space-between;
  grid-column-gap: var(--_spacing---space--3);

  border-radius: var(--nav--radius);

  background-color: var(--_theme---nav--background);

  pointer-events: auto;
}

.nav_mobile_logo {
  position: relative;
  z-index: 2;

  display: flex;
  width: 6rem;
  justify-content: flex-start;
  align-items: center;

  outline-offset: var(--focus--offset-inner);
}

.nav_mobile_menu_wrap {
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;

  max-width: var(--nav--max-width-outer);
  margin-right: auto;
  margin-left: auto;
  padding-top: var(--nav--height);

  border-top-left-radius: var(--nav--radius);
  border-top-right-radius: var(--nav--radius);
  border-bottom-left-radius: var(--nav--radius);
  border-bottom-right-radius: var(--nav--radius);

  background-color: var(--_theme---nav--background);

  pointer-events: auto;

  text-align: left;

  transform: none !important;

  width: calc(100% - var(--nav--spacing-outer-horizontal) * 2);
}

.nav_mobile_menu_scroll {
  padding-right: var(--nav--spacing-inner-horizontal);
  padding-left: var(--nav--spacing-inner-horizontal);
  overflow-x: hidden;
  overflow-y: auto;
  max-height: calc(100svh - var(--nav--height-total) - var(--nav--spacing-outer-vertical) * 2);
}

.nav_button_wrap {
  z-index: 2;

  width: 2rem;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;

  outline-width: var(--focus--width) !important;
  outline-color: var(--_theme---text) !important;
  outline-offset: var(--focus--offset-inner) !important;
}

.nav_button_wrap:global(.w--open) {
  background-color: hsla(0, 0.00%, 0.00%, 0.00);
  color: inherit;
}

@media screen and (max-width: 991px) {
  .nav_button_wrap:global(.w--open) {
    background-color: hsla(0, 0.00%, 78.43%, 0.00);
    color: inherit;
  }
}

.nav_button_layout {
  position: relative;

  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  grid-column-gap: var(--nav--hamburger-gap);
  grid-row-gap: var(--nav--hamburger-gap);

  pointer-events: none;
}

.nav_button_line {
  width: 100%;
  height: var(--nav--hamburger-thickness);
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;

  pointer-events: auto;

  transition-property: all;
  transition-duration: 200ms;
  transition-timing-function: ease;

  background-color: currentColor;
}

.nav_button_line.is-1 {
  transform: translateY(calc((var(--nav--hamburger-thickness) * 0.5 + var(--nav--hamburger-gap) * 0.5) * var(--_state---false))) rotate(calc(-45deg * var(--_state---false)));
}

.nav_button_line.is-2 {
  transform: translateY(calc((var(--nav--hamburger-thickness) * -0.5 + var(--nav--hamburger-gap) * -0.5) * var(--_state---false))) rotate(calc(45deg * var(--_state---false)));
}

.nav_dropdown_backdrop {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 0;

  display: none;
  width: 100%;
  height: 100vh;

  opacity: 0;
  pointer-events: none;

  background-color: color-mix(in srgb, var(--swatch--dark-900\<deleted\|variable-b6de3dc8-5520-0236-77cd-d665fd586e64\>) 20%, transparent);
}

.nav_menu_backdrop {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 0;

  display: block;
  width: 100%;
  height: 100vh;

  opacity: 0;
  pointer-events: none;

  background-color: color-mix(in srgb, var(--swatch--dark-900\<deleted\|variable-b6de3dc8-5520-0236-77cd-d665fd586e64\>) 20%, transparent);
}