.navbar {
  position: sticky;
  top: 0px;
  z-index: 999;
  background-color: var(--swatch--sc-pearl-cream);
}

@media screen and (max-width: 991px) {
  .navbar {
    z-index: 1000;
  }
}

.navbar_contain {
  display: grid;
  width: 100%;
  grid-auto-columns: 1fr;
  grid-template-columns: minmax(160px, 1.5fr) 2fr 2fr 2fr minmax(120px, 1fr);
  grid-template-rows: auto;
}

@media screen and (max-width: 991px) {
  .navbar_contain {
    grid-template-columns: minmax(25%, 1fr) 1fr 1fr 1fr minmax(8.3%, 1fr);
    border-bottom: 0.25px solid var(--_theme---border);
  }
}

@media screen and (max-width: 767px) {
  .navbar_contain {
    grid-template-columns: minmax(35%, 1fr) 1fr 1fr 1fr minmax(8.3%, 1fr);
  }
}

@media screen and (max-width: 479px) {
  .navbar_contain {
    grid-template-columns: minmax(45%, 1fr) 1fr 1fr 1fr minmax(10%, 1fr);
  }
}

.brand {
  z-index: 2;

  display: flex;
  padding: var(--_spacing---space--6);
  justify-content: center;
  align-items: center;

  border-right: 0.5px solid var(--_theme---border);
  border-bottom: 0.5px solid var(--_theme---border);
}

@media screen and (max-width: 991px) {
  .brand {
    border-right-style: none;
    border-bottom-style: none;
  }
}

.image-2 {
  max-width: 10.625rem;
}

@media screen and (max-width: 991px) {
  .nav-link-wrap.desktop {
    display: none;
  }
}

.hidden-links {
  display: none;
}

.nav-menu {
  position: fixed;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 2;

  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;

  background-color: var(--swatch--transparent);

  pointer-events: none;

  height: 100svh !important;
}

.nav-menu_links_wrap {
  position: relative;
  z-index: 2;

  display: flex;
  width: 33%;
  height: 100%;
  margin-left: auto;
  padding: 6.25rem var(--site--margin) var(--site--margin);
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;

  background-color: var(--swatch--sc-pearl-cream);

  pointer-events: auto;
}

@media screen and (max-width: 991px) {
  .nav-menu_links_wrap {
    width: 50%;
  }
}

@media screen and (max-width: 767px) {
  .nav-menu_links_wrap {
    width: 100%;
  }
}

.nav-menu_links {
  margin-top: 1rem;
}

.nav_link-c {
  display: flex;
  width: 100%;
  padding: 2rem 0px;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: flex-start;

  border-bottom: 0.25px solid var(--_theme---border);

  transition: color 300ms ease,padding 300ms ease,background-color 300ms ease;

  font-family: var(--_typography---font--body-family);

  cursor: pointer;
}

.nav_link-c:hover {
  padding-left: 2rem;
  background-color: var(--swatch--sc-dark-cocoa);
  color: var(--swatch--sc-pearl-cream);
}

@media screen and (max-width: 767px) {
  .nav_link-c {
    font-size: 1.25rem;
  }
}

.u-text-transform-uppercase {
  text-transform: uppercase;
}

.u-alignment-center {
  ---mode--collection-e6b36abd-110e-53c3-7d7c-db25eac1e019: mode-bff72b6a-646d-c2ee-b0ac-6678445d9fc8;
  text-align: var(--_alignment---direction, start);
}

.u-text-style-large {
  font-size: var(--_typography---font-size--text-large);
  line-height: var(--_text-style---line-height);
  letter-spacing: var(--_text-style---letter-spacing);
  ---mode--collection-b7222b48-79c4-934f-5073-fc41f016b656: mode-5208c5a5-0de0-01a0-a3b6-bcbe489ecc38;
  text-wrap: var(--_text-style---text-wrap);
}

@media screen and (max-width: 767px) {
  .u-text-style-large {
    font-size: 1.125rem;
  }
}

.nav_link-c.u-text-style-large.u-text-transform-uppercase.hide-on-desktop {
  display: none;
}

@media screen and (max-width: 991px) {
  .nav_link-c.u-text-style-large.u-text-transform-uppercase.hide-on-desktop {
    display: flex;
  }
}

.hide {
  display: none;
}

.nav_link-c.is-collapsible {
  padding: 2rem 0px;
  justify-content: center;
  align-items: flex-start;
  border-right-style: none;
  border-bottom-style: none;
}

.nav_link_text_wrap {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
}

.nav_link_text_line {
  width: 0%;
  height: 2.36px;
  background-color: var(--_theme---button-primary--background);
  transition: width 300ms ease;
}

.coming-soon {
  position: absolute;
  bottom: 100%;

  display: none;
  margin-bottom: 0.25rem;

  font-size: 0.625rem;
  white-space: nowrap;
}

@media screen and (max-width: 991px) {
  .coming-soon {
    font-size: 0.5rem;
  }
}

.nav-menu_bottom_text_wrap {
  margin-bottom: 0.5rem;
}

.nav-menu_bottom_text {
  text-align: left;
}

@media screen and (max-width: 767px) {
  .nav-menu_bottom_text {
    font-size: 1.5rem;
  }
}

.u-text-style-h5 {
  font-family: var(--_text-style---font-family);
  font-size: var(--_text-style---font-size);
  line-height: var(--_typography---line-height--1-2);
  font-weight: var(--_text-style---font-weight);
  letter-spacing: var(--_typography---letter-spacing--neg-4);

  ---mode--collection-b7222b48-79c4-934f-5073-fc41f016b656: mode-e99d08ea-e066-5ff1-9ff6-ced2c9062682;

  text-transform: var(--_text-style---text-transform, none);

  text-wrap: var(--_text-style---text-wrap);

  display: flow-root;
}

@media screen and (max-width: 767px) {
  .u-text-style-h5 {
    font-size: 1.25rem;
  }
}

.nav-menu-strip {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;

  width: 100%;
  height: 0.5rem;

  background-color: var(--swatch--pc-indian-vcs-red);
}

.nav-menu-overlay {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;

  background-color: hsla(0, 0.00%, 0.00%, 0.70);

  opacity: 0;
  pointer-events: none;

  transition: opacity 300ms ease;
}

.menu-wrap {
  position: relative;
  z-index: 2;

  width: 100%;

  border-bottom: 0.5px solid var(--_theme---border);

  opacity: 0;
  pointer-events: none;
}

@media screen and (max-width: 991px) {
  .menu-wrap {
    border-left: 0.25px solid var(--_theme---border);
    border-bottom-style: none;
    border-bottom-width: 0px;
    opacity: 1;
    pointer-events: auto;
  }
}

.style {
  display: none;
}

.menu-btn {
  width: 100%;
  height: 100%;
  padding: 0px;
}

.menu-btn:global(.w--open) {
  border-left: 0.25px solid var(--_theme---border);
  background-color: var(--swatch--transparent);
}

@media screen and (max-width: 991px) {
  .menu-btn:global(.w--open) {
    border-bottom: 0.25px solid var(--_theme---border);
    border-left-style: none;
  }
}

.menu-btn.hide {
  display: none;
}

.menu-icon_wrap {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.menu-icon {
  display: flex;
  width: 1.5rem;
  height: 1.5rem;
  padding: 4px;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
}

@media screen and (max-width: 991px) {
  .menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.menu-icon_line-top {
  width: 100%;
  height: 1px;
  background-color: var(--swatch--sc-charcoal);
  transition: transform 300ms ease;
}

.menu-icon_line-middle {
  display: flex;
  width: 100%;
  height: 1px;
  margin-top: 6px;
  margin-bottom: 6px;
  justify-content: center;
  align-items: center;

  background-color: var(--swatch--sc-charcoal);

  transition: width 100ms ease,margin 300ms ease;
}

.menu-icon_line-bottom {
  width: 100%;
  height: 1px;
  background-color: var(--swatch--sc-charcoal);
  transition: transform 300ms ease;
}