.nav_link {
  position: relative;

  display: flex;
  width: 100%;
  height: 100%;
  padding: var(--_spacing---space--6) var(--_spacing---space--4);
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;

  border-right: 0.5px solid var(--_theme---border);
  border-bottom: 0.5px solid var(--_theme---border);

  transition: background-color 300ms ease;

  font-family: var(--_typography---font--body-family);

  cursor: pointer;
}

@media screen and (max-width: 991px) {
  .nav_link {
    display: none;
  }
}

.u-text-transform-uppercase {
  text-transform: uppercase;
}

.u-alignment-center {
  ---mode--collection-e6b36abd-110e-53c3-7d7c-db25eac1e019: mode-bff72b6a-646d-c2ee-b0ac-6678445d9fc8;
  text-align: var(--_alignment---direction, start);
}

.u-text-style-large {
  font-size: var(--_typography---font-size--text-large);
  line-height: var(--_text-style---line-height);
  letter-spacing: var(--_text-style---letter-spacing);
  ---mode--collection-b7222b48-79c4-934f-5073-fc41f016b656: mode-5208c5a5-0de0-01a0-a3b6-bcbe489ecc38;
  text-wrap: var(--_text-style---text-wrap);
}

@media screen and (max-width: 767px) {
  .u-text-style-large {
    font-size: 1.125rem;
  }
}

.nav_link.is-collapsible {
  padding: 2rem 0px;
  justify-content: center;
  align-items: flex-start;
  border-right-style: none;
  border-bottom-style: none;
}

.u-text-style-medium {
  font-size: var(--_text-style---font-size);
  line-height: var(--_text-style---line-height);
  letter-spacing: var(--_text-style---letter-spacing);

  ---mode--collection-b7222b48-79c4-934f-5073-fc41f016b656: mode-5208c5a5-0de0-01a0-a3b6-bcbe489ecc38;

  text-transform: var(--_text-style---text-transform, none);

  text-wrap: var(--_text-style---text-wrap);

  display: flow-root;
}

.nav_link_text_wrap {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
}

.coming-soon {
  position: absolute;
  bottom: 100%;

  display: none;
  margin-bottom: 0.25rem;

  font-size: 0.625rem;
  white-space: nowrap;
}

@media screen and (max-width: 991px) {
  .coming-soon {
    font-size: 0.5rem;
  }
}

.nav_link_text_line {
  width: 0%;
  height: 2.36px;
  background-color: var(--_theme---button-primary--background);
  transition: width 300ms ease;
}

.hide {
  display: none;
}

#w-node-_79a65b27-6847-d8a0-cd2e-5c3ba67597ed-a67597ed {
}