.socials-icon-wrap {
  display: flex;
  width: 2rem;
  justify-content: center;
  align-items: center;
}

.socials-icon-wrap:hover {
  color: var(--swatch--sc-dark-cocoa);
}

.socials-icon-img {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;

  transition: color 300ms ease,background-color 300ms ease;
}

.socials-icon-img:hover {
  background-color: var(--swatch--sc-charcoal);
  color: var(--swatch--sc-pearl-cream);
}